Repository rkh/nii, changes with the labels that .github/labeler.yml gives for each.
All labels: nii-calendars, nii-core, nii-extra-locales, nii-global, nii-historic, nii-i18n, nii-rails, nii-rbnf, nii-sinatra, nii-units, nii-xml, web

Update nii-xml.gemspec
  nii-xml/nii-xml.gemspec
Labels: nii-xml

fix punctuation in readme
  README.md
Labels: none

core: add tests for number formatting, fix rounding of negative numbers
  nii-core/lib/nii/formatters/numeric.rb
  nii-core/test/formatters/test_numeric_formatter.rb
Labels: nii-core

web: switch to git dependency for rouge
  web/Gemfile
  web/Gemfile.lock
Labels: web

web: update dependencies, move one css rule around
  web/Gemfile.lock
  web/source/stylesheets/_base.scss
Labels: web

web: fix hover effect on iOS
  web/source/layouts/layout.erb
Labels: web

core: make it easier to use Utils in formatters
  nii-core/lib/nii/formatters.rb
  nii-core/lib/nii/formatters/array.rb
  nii-core/lib/nii/formatters/string.rb
Labels: nii-core

core: one less allocation when formatting numbers
  nii-core/lib/nii/formatters/numeric.rb
Labels: nii-core

core: more tests for number formatting
  nii-core/test/formatters/test_numeric_formatter.rb
Labels: nii-core

core: add percent formatting
  nii-core/lib/nii/formatters/numeric.rb
  nii-core/test/formatters/test_numeric_formatter.rb
Labels: nii-core

core: add memory based lookup
  examples/single_file.rb
  nii-core/lib/nii/formats/json.rb
  nii-core/lib/nii/lookup.rb
  nii-core/lib/nii/lookup/common.rb
  nii-core/lib/nii/lookup/memory.rb
Labels: nii-core

core: add missing autoload statements for message formats, alias Ruby to I18n
  nii-core/lib/nii/formats/messages.rb
  nii-core/lib/nii/formats/messages/arb.rb
  nii-core/lib/nii/formats/messages/i18n.rb
Labels: nii-core

bundle update (to address CVE-2021-22903)
  Gemfile.lock
  examples/rails/Gemfile.lock
Labels: none

cldr import: allow repeat keys in JSON payload
  tools/nii-cldr/lib/nii/cldr.rb
  tools/nii-cldr/lib/nii/cldr/js_object.rb
  tools/nii-cldr/lib/nii/cldr/locale.rb
  tools/nii-cldr/lib/nii/cldr/repository.rb
  tools/nii-cldr/lib/nii/cldr/store.rb
Labels: none

units: update to CLDR v39
  nii-units/README.md
  nii-units/lib/nii/units/angle.rb
  nii-units/lib/nii/units/area.rb
  nii-units/lib/nii/units/concentration_mass.rb
  nii-units/lib/nii/units/duration.rb
  nii-units/lib/nii/units/electric_current.rb
  nii-units/lib/nii/units/electric_resistance.rb
  nii-units/lib/nii/units/energy.rb
  nii-units/lib/nii/units/force.rb
  nii-units/lib/nii/units/frequency.rb
  nii-units/lib/nii/units/generic_unit.rb
  nii-units/lib/nii/units/illuminance.rb
  nii-units/lib/nii/units/length.rb
  nii-units/lib/nii/units/luminous_flux.rb
  nii-units/lib/nii/units/luminous_intensity.rb
  nii-units/lib/nii/units/mass.rb
  nii-units/lib/nii/units/portion.rb
  nii-units/lib/nii/units/power.rb
  nii-units/lib/nii/units/pressure.rb
  nii-units/lib/nii/units/resolution.rb
  nii-units/lib/nii/units/substance_amount.rb
  nii-units/lib/nii/units/temperature.rb
  nii-units/lib/nii/units/voltage.rb
  nii-units/lib/nii/units/volume.rb
  rakelib/units.rake
Labels: nii-units

web: update data for CLDR v39
  web/data/languages.yml
  web/data/setup_options.yml
Labels: web

fix typo
  nii-core/lib/nii/lookup/memory.rb
Labels: nii-core

regenerate setup docs
  docs/setup_options.md
Labels: none

point yard at fork right now for Ruby 3.0 support
  Gemfile
  Gemfile.lock
Labels: none

switch to official yard repo
  Gemfile
  Gemfile.lock
Labels: none

bundle update
  web/Gemfile.lock
Labels: web

core: add string formatting specs and make them pass
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/formatters/string.rb
  nii-core/lib/nii/info/html.rb
  nii-core/lib/nii/info/text.rb
  nii-core/test/formatters/test_string_formatter.rb
Labels: nii-core

core: add Nii::HTML convenience object
  nii-core/lib/nii/core.rb
  nii-core/lib/nii/info/generic.rb
  nii-core/lib/nii/info/html.rb
  nii-core/lib/nii/template/concat.rb
Labels: nii-core

core: move deep_merge logic from Data to Utils. This way we can reuse it in I18n compatible code.
  nii-core/lib/nii/data.rb
  nii-core/lib/nii/utils.rb
Labels: nii-core

core: dedup Locale#lookup
  nii-core/lib/nii/locale.rb
Labels: nii-core

Core: remove second test_as_territory definition
  nii-core/test/formatters/test_string_formatter.rb
Labels: nii-core

core: general purpose message parser
  nii-core/lib/nii/parser.rb
  nii-core/lib/nii/parser/message.rb
Labels: nii-core

core: allow html/md/textile in locales directory
  nii-core/lib/nii/formats/html.rb
  nii-core/lib/nii/formats/markdown.rb
  nii-core/lib/nii/formats/textile.rb
  nii-core/lib/nii/formats/txt.rb
Labels: nii-core

core: work on I18n/R18n compatibility
  nii-core/lib/nii/formats/arb.rb
  nii-core/lib/nii/formats/json.rb
  nii-core/lib/nii/formats/messages.rb
  nii-core/lib/nii/formats/messages/flexible.rb
  nii-core/lib/nii/formats/structure.rb
  nii-core/lib/nii/formats/structure/arb.rb
  nii-core/lib/nii/formats/structure/i18n.rb
  nii-core/lib/nii/formats/structure/r18n.rb
  nii-core/lib/nii/formats/structure/simple.rb
  nii-core/lib/nii/parser/rbnf.rb
  nii-core/lib/nii/parser/yaml.rb
  nii-core/lib/nii/parser/yaml/scalar_scanner.rb
  nii-core/lib/nii/parser/yaml/tagged.rb
  nii-core/lib/nii/parser/yaml/visitor.rb
  nii-core/lib/nii/template/variable.rb
Labels: nii-core

add Gemfile to workspace dictionary
  .vscode/spellright.dict
Labels: none

core: add missing autoloads
  nii-core/lib/nii/core.rb
Labels: nii-core

core: RackEnv fixes
  nii-core/lib/nii/rack_env.rb
Labels: nii-core

core: Helpers: always call #to_nii_context
  nii-core/lib/nii/helpers.rb
Labels: nii-core

core: fix raise
  nii-core/lib/nii/formats/structure/r18n.rb
Labels: nii-core

core: fix delegation for Nii::Localized
  nii-core/lib/nii/localized.rb
Labels: nii-core

global: fix method_missing, some reformatting
  nii-global/lib/nii/shared.rb
Labels: nii-global

new library: nii-slim
  Gemfile
  Gemfile.lock
  README.md
  nii-slim/.yardopts
  nii-slim/README.md
  nii-slim/lib/nii-slim.rb
  nii-slim/lib/nii/slim.rb
  nii-slim/lib/nii/slim/filter.rb
  nii-slim/lib/nii/slim/scope.rb
  nii-slim/lib/nii/slim/setup.rb
  nii-slim/nii-slim.gemspec
  nii-slim/test/setup.rb
  nii-slim/test/test_slim.rb
  nii/lib/nii/gems.rb
Labels: none

slim: fix escaping in test
  nii-slim/test/test_slim.rb
Labels: none

Update README.md
  nii-slim/README.md
Labels: none

core: message name can be a symbol
  nii-core/lib/nii/context.rb
Labels: nii-core

.github/labeler.yml:

nii-calendars: nii-calendars/**/*
nii-core: nii-core/**/*
nii-extra-locales: nii-extra-locales/**/*
nii-global: nii-global/**/*
nii-historic: nii-historic/**/*
nii-i18n: nii-i18n/**/*
nii-rails: nii-rails/**/*
nii-rbnf: nii-rbnf/**/*
nii-sinatra: nii-sinatra/**/*
nii-units: nii-units/**/*
nii-xml: nii-xml/**/*
web: web/**/*
