Repository rkh/nii, changes with the labels that .github/labeler.yml gives for each.
All labels: nii-calendars, nii-core, nii-extra-locales, nii-global, nii-historic, nii-i18n, nii-rails, nii-rbnf, nii-sinatra, nii-units, nii-xml, web

.github/labeler.yml:

nii-calendars: nii-calendars/**/*
nii-core: nii-core/**/*
nii-extra-locales: nii-extra-locales/**/*
nii-global: nii-global/**/*
nii-historic: nii-historic/**/*
nii-i18n: nii-i18n/**/*
nii-rails: nii-rails/**/*
nii-rbnf: nii-rbnf/**/*
nii-sinatra: nii-sinatra/**/*
nii-units: nii-units/**/*
nii-xml: nii-xml/**/*
web: web/**/*

core: keep track (and use) of the source file for a message
  nii-cli/lib/nii/cli/convert.rb
  nii-core/lib/nii/compiler/fluent.rb
  nii-core/lib/nii/formats/fluent.rb
  nii-core/lib/nii/formats/json.rb
  nii-core/lib/nii/formats/po.rb
  nii-core/lib/nii/formats/properties.rb
  nii-core/lib/nii/formats/txt.rb
  nii-core/lib/nii/lookup/file_system.rb
  nii-core/lib/nii/message.rb
  nii-core/lib/nii/parser/fluent/message.rb
Labels: nii-core

xml: first working XLIFF implementation
  nii-xml/lib/nii/formats/xliff.rb
  nii-xml/lib/nii/formats/xml.rb
  nii-xml/lib/nii/xml.rb
  nii-xml/lib/nii/xml/document.rb
  nii-xml/lib/nii/xml/element.rb
  nii-xml/lib/nii/xml/xliff.rb
  nii-xml/lib/nii/xml/xliff/1.2/file.rb
  nii-xml/lib/nii/xml/xliff/1.2/unit.rb
  nii-xml/lib/nii/xml/xliff/2.0/file.rb
  nii-xml/lib/nii/xml/xliff/2.0/unit.rb
  nii-xml/lib/nii/xml/xliff/2.1/file.rb
  nii-xml/lib/nii/xml/xliff/2.1/unit.rb
  nii-xml/lib/nii/xml/xliff/file.rb
  nii-xml/lib/nii/xml/xliff/segment.rb
  nii-xml/lib/nii/xml/xliff/unit.rb
  nii-xml/test/formats/xliff-1.2/ja-JP/wikipedia.xlf
  nii-xml/test/formats/xliff-2.0/ja-JP/wikipedia.xlf
Labels: nii-xml

first stab at SQL backend
  Gemfile
  Gemfile.lock
  nii-sql/README.md
  nii-sql/lib/nii-sql.rb
  nii-sql/lib/nii/lookup/active_record.rb
  nii-sql/lib/nii/lookup/activerecord.rb
  nii-sql/lib/nii/lookup/ado.rb
  nii-sql/lib/nii/lookup/amalgalite.rb
  nii-sql/lib/nii/lookup/db2.rb
  nii-sql/lib/nii/lookup/ibm_db.rb
  nii-sql/lib/nii/lookup/ibmdb.rb
  nii-sql/lib/nii/lookup/mysql.rb
  nii-sql/lib/nii/lookup/mysql2.rb
  nii-sql/lib/nii/lookup/oracle.rb
  nii-sql/lib/nii/lookup/pg.rb
  nii-sql/lib/nii/lookup/postgres.rb
  nii-sql/lib/nii/lookup/postgresql.rb
  nii-sql/lib/nii/lookup/sequel.rb
  nii-sql/lib/nii/lookup/sql.rb
  nii-sql/lib/nii/lookup/sql_anywhere.rb
  nii-sql/lib/nii/lookup/sql_server.rb
  nii-sql/lib/nii/lookup/sqlanywhere.rb
  nii-sql/lib/nii/lookup/sqlite.rb
  nii-sql/lib/nii/lookup/sqlite3.rb
  nii-sql/lib/nii/lookup/sqlserver.rb
  nii-sql/lib/nii/lookup/tiny_tds.rb
  nii-sql/lib/nii/lookup/tinytds.rb
  nii-sql/lib/nii/sql.rb
  nii-sql/lib/nii/sql/connection.rb
  nii-sql/lib/nii/sql/lookup.rb
  nii-sql/lib/nii/sql/query_cache.rb
  nii-sql/lib/nii/sql/schema.rb
  nii-sql/lib/nii/sql/schema/default.rb
  nii-sql/lib/nii/sql/schema/dsl.rb
  nii-sql/lib/nii/sql/schema/fast_gettext.rb
  nii-sql/lib/nii/sql/schema/i18n.rb
  nii-sql/lib/nii/sql/schema/pontoon.rb
  nii-sql/nii-sql.gemspec
  nii/lib/nii/gems.rb
Labels: none

CLI: make sure nii-xml is loaded
  nii-cli/lib/nii/cli.rb
  nii-cli/nii-cli.gemspec
Labels: none

core: more time and grammar info
  nii-core/lib/nii/core.rb
  nii-core/lib/nii/data.rb
  nii-core/lib/nii/day_period.rb
  nii-core/lib/nii/formatters/nii.rb
  nii-core/lib/nii/formatters/string.rb
  nii-core/lib/nii/info/grammar.rb
  nii-core/lib/nii/info/numbers.rb
  nii-core/lib/nii/info/time.rb
  nii-core/lib/nii/namespace.rb
  nii-rbnf/lib/nii/decimal_format.rb
Labels: nii-core, nii-rbnf

add ability to load config from a yaml/json/... file
  Gemfile
  Gemfile.lock
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/currency.rb
  nii-core/lib/nii/formats/hjson.rb
  nii-core/lib/nii/formats/toml.rb
  nii-core/lib/nii/parser.rb
  nii-core/lib/nii/parser/hjson.rb
  nii-core/lib/nii/parser/ini.rb
  nii-core/lib/nii/parser/toml.rb
  nii-core/lib/nii/setup.rb
  nii-core/lib/nii/setup/dsl.rb
  nii-core/lib/nii/setup/locale.rb
  nii-core/lib/nii/setup/parser.rb
  nii-core/lib/nii/setup/shared.rb
  nii-core/lib/nii/setup/shared/load.rb
  nii-core/lib/nii/setup/vanilla.rb
  nii-rails/lib/nii/rails/setup.rb
Labels: nii-core, nii-rails

docs: nicer argument alignment in spellout examples
  docs/languages/ar.md
  docs/languages/be.md
  docs/languages/ca.md
  docs/languages/cy.md
  docs/languages/da.md
  docs/languages/de.md
  docs/languages/el.md
  docs/languages/en.md
  docs/languages/es.md
  docs/languages/ff.md
  docs/languages/fi.md
  docs/languages/fr.md
  docs/languages/he.md
  docs/languages/hi.md
  docs/languages/hr.md
  docs/languages/hu.md
  docs/languages/it.md
  docs/languages/ko.md
  docs/languages/lb.md
  docs/languages/ne.md
  docs/languages/no.md
  docs/languages/pl.md
  docs/languages/pt.md
  docs/languages/ru.md
  docs/languages/sv.md
  tools/lib/docs/document.rb
Labels: none

Revert "docs: nicer argument alignment in spellout examples"
  docs/languages/ar.md
  docs/languages/be.md
  docs/languages/ca.md
  docs/languages/cy.md
  docs/languages/da.md
  docs/languages/de.md
  docs/languages/el.md
  docs/languages/en.md
  docs/languages/es.md
  docs/languages/ff.md
  docs/languages/fi.md
  docs/languages/fr.md
  docs/languages/he.md
  docs/languages/hi.md
  docs/languages/hr.md
  docs/languages/hu.md
  docs/languages/it.md
  docs/languages/ko.md
  docs/languages/lb.md
  docs/languages/ne.md
  docs/languages/no.md
  docs/languages/pl.md
  docs/languages/pt.md
  docs/languages/ru.md
  docs/languages/sv.md
  tools/lib/docs/document.rb
Labels: none

core: more documentation for context.numbers
  nii-core/lib/nii/info/numbers.rb
  nii-rbnf/lib/nii/rbnf/parser.rb
Labels: nii-core, nii-rbnf

core: remove double defintion of Config#except
  nii-core/lib/nii/config.rb
Labels: nii-core

core: add tests for formatting money
  nii-core/test/formatters/test_money_formatter.rb
Labels: nii-core

core: tests for Nii::Territory
  nii-core/test/test_territory.rb
Labels: nii-core

more documentation
  README.md
  docs/overview.md
  nii-core/lib/nii/context.rb
  src/docs/_intro.md.erb
Labels: nii-core

docs: fix typo
  README.md
  docs/overview.md
  src/docs/_intro.md.erb
Labels: none

VS Code config for i18n-ally
  .vscode/settings.json
  nii-core/lib/nii/timezone.rb
Labels: nii-core

bundle update
  Gemfile.lock
Labels: none

fix rack env test for newer ruby versions
  nii-core/test/test_helpers.rb
Labels: nii-core

update timezone info
  nii-core/data/timezones.json.gz
  tools/nii-cldr/lib/nii/cldr/repository.rb
  tools/nii-cldr/lib/nii/cldr/timezones.rb
Labels: nii-core

update import for cldr-json changes
  tools/nii-cldr/lib/nii/cldr/locale.rb
  tools/nii-cldr/lib/nii/cldr/repository.rb
Labels: none

add support for measurement_unit_override/temperature
  nii-core/lib/nii/locale.rb
  nii-core/lib/nii/parser/locale.rb
Labels: nii-core

Rails 8 removed Rails::ConsoleMethods
  nii-rails/lib/nii/rails/extension.rb
Labels: nii-rails

make Lookup#find accept any options
  nii-core/lib/nii/lookup/common.rb
Labels: nii-core

fix typo
  nii-i18n/lib/nii/i18n/backend.rb
Labels: nii-i18n

have nii-rails load i18n messages from gems
  nii-core/lib/nii/formats/hjson.rb
  nii-core/lib/nii/formats/json.rb
  nii-core/lib/nii/formats/ruby.rb
  nii-core/lib/nii/formats/structure/i18n.rb
  nii-core/lib/nii/formats/toml.rb
  nii-core/lib/nii/formats/yaml.rb
  nii-core/lib/nii/helpers.rb
  nii-core/lib/nii/load_path.rb
  nii-core/lib/nii/lookup/cascade.rb
  nii-core/lib/nii/lookup/i18n.rb
  nii-core/lib/nii/setup/lookup.rb
  nii-core/lib/nii/setup/lookup/cascade.rb
  nii-i18n/lib/nii/i18n.rb
  nii-i18n/lib/nii/i18n/array_monitor.rb
  nii-i18n/lib/nii/i18n/config.rb
  nii-rails/lib/nii/rails/setup.rb
Labels: nii-core, nii-i18n, nii-rails

Do not automatically set up I18n -> Nii fallback for nii-rails
  nii-rails/lib/nii/rails/setup.rb
Labels: nii-rails

Update dependencies
  Gemfile.lock
Labels: none

Rework locale negotiation to allow region fallback
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/locale_preference.rb
  nii-core/test/test_middleware.rb
Labels: nii-core

make sure we always capture the i18n load path
  nii-i18n/lib/nii/i18n.rb
  nii-i18n/lib/nii/i18n/config.rb
Labels: nii-i18n

remove variable check for I18n (or other) fallback
  nii-core/lib/nii/helpers.rb
Labels: nii-core

some rails yaml localizations aren't actually safe to parse
  nii-core/lib/nii/formats/yaml.rb
  nii-rails/lib/nii/rails/extension.rb
Labels: nii-core, nii-rails

set namespace for action mailer
  nii-rails/lib/nii/rails/extension.rb
Labels: nii-rails

markdown and mailer namespace
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/formats/markdown.rb
Labels: nii-core

i18n is per thread, no locking needed
  nii-i18n/lib/nii/i18n/synchronize.rb
Labels: nii-i18n

New timezones dropeed (hello America/Coyhaique)
  nii-core/data/timezones.json.gz
Labels: nii-core
