Repository rkh/nii, changes with the labels that .github/labeler.yml gives for each.
All labels: nii-calendars, nii-core, nii-extra-locales, nii-global, nii-historic, nii-i18n, nii-rails, nii-rbnf, nii-sinatra, nii-units, nii-xml, web

core: fix json format detection
  nii-core/lib/nii/formats/json.rb
Labels: nii-core

core: add Bundle#all to list messages in a bundle
  nii-core/lib/nii/bundle.rb
Labels: nii-core

slim: Add support for message translation
  nii-slim/README.md
  nii-slim/example/example.rb
  nii-slim/example/example.slim
  nii-slim/example/locales/en/greeting.ftl
  nii-slim/lib/nii/slim.rb
  nii-slim/lib/nii/slim/filter.rb
  nii-slim/lib/nii/slim/parser.rb
  nii-slim/lib/nii/slim/scope.rb
Labels: none

core: fix Context#find_message for message objcets (makes all specs pass again)
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/message.rb
Labels: nii-core

slim: avoid Ruby warning
  nii-slim/lib/nii/slim/parser.rb
Labels: none

core: tests and fixes for Nii::RackEnv
  nii-core/lib/nii/middleware.rb
  nii-core/lib/nii/rack_env.rb
  nii-core/lib/nii/setup.rb
  nii-core/lib/nii/setup/middleware.rb
  nii-core/lib/nii/setup/shared/routing.rb
  nii-core/test/test_rack_env.rb
Labels: nii-core

core: tests and fixes for YAML files, including I18n/R18n compatibility
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/errors.rb
  nii-core/lib/nii/formats/json.rb
  nii-core/lib/nii/formats/messages/flexible.rb
  nii-core/lib/nii/formats/messages/r18n.rb
  nii-core/lib/nii/formats/structure/i18n.rb
  nii-core/lib/nii/formats/structure/r18n.rb
  nii-core/lib/nii/parser/message.rb
  nii-core/lib/nii/utils.rb
  nii-core/test/formats/test_yaml.rb
  nii-core/test/formats/yaml/en/example.yml
  nii-core/test/formats/yaml/en/i18n.yml
  nii-core/test/formats/yaml/en/r18n.yml
Labels: nii-core

core: add support for function invokation from templates (currently Fluent-only)
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/core.rb
  nii-core/lib/nii/errors.rb
  nii-core/lib/nii/functions.rb
  nii-core/lib/nii/parser/fluent/function.rb
  nii-core/lib/nii/template/function_call.rb
  nii-core/test/formats/fluent/en/example.ftl
  nii-core/test/formats/test_fluent.rb
Labels: nii-core

core: add more message template functions
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/functions.rb
  nii-core/lib/nii/info.rb
  nii-core/lib/nii/info/grammar.rb
  nii-core/lib/nii/info/text.rb
  nii-core/test/formats/fluent/en/example.ftl
  nii-core/test/test_functions.rb
Labels: nii-core

core: test for fluent string literals
  .simplecov
  nii-core/test/formats/fluent/en/example.ftl
  nii-core/test/formats/test_fluent.rb
Labels: nii-core

core: tests and fix for Nii::Helpers
  nii-core/lib/nii/helpers.rb
  nii-core/lib/nii/setup/helpers.rb
  nii-core/lib/nii/setup/route_scope.rb
  nii-core/lib/nii/setup/shared.rb
  nii-core/lib/nii/setup/shared/locales.rb
  nii-core/test/test_helpers.rb
Labels: nii-core

fix typo
  nii-core/lib/nii/functions.rb
Labels: nii-core

add minitest-fail-fast
  Gemfile
  Gemfile.lock
Labels: none

core: finish Nii::Plurals
  nii-core/lib/nii/core.rb
  nii-core/lib/nii/info/grammar.rb
  nii-core/lib/nii/parser.rb
  nii-core/lib/nii/parser/plural.rb
  nii-core/lib/nii/plurals.rb
  nii-core/test/test_plurals.rb
Labels: nii-core

cleanup
  nii-core/lib/nii/parser/plural.rb
Labels: nii-core

core: finish fluent selectors, including plurals
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/formatters/nii.rb
  nii-core/lib/nii/functions.rb
  nii-core/lib/nii/localized.rb
  nii-core/lib/nii/parser/fluent/select.rb
  nii-core/lib/nii/parser/fluent/variant.rb
  nii-core/lib/nii/plurals.rb
  nii-core/lib/nii/template.rb
  nii-core/lib/nii/template/element.rb
  nii-core/lib/nii/template/select.rb
  nii-core/lib/nii/template/variant.rb
  nii-core/test/formats/fluent/en/example.ftl
  nii-core/test/formats/test_fluent.rb
  nii-core/test/setup.rb
  nii-core/test/test_functions.rb
Labels: nii-core

core: add test and fix for R18n plural categories
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/formats/structure/r18n.rb
  nii-core/lib/nii/parser/fluent/variant.rb
  nii-core/lib/nii/template/variant.rb
  nii-core/test/formats/test_yaml.rb
  nii-core/test/formats/yaml/en/r18n.yml
  nii-core/test/setup.rb
Labels: nii-core

core: add test and fix for Ruby I18n plural categories
  nii-core/lib/nii/formats/structure/i18n.rb
  nii-core/lib/nii/template/variant.rb
  nii-core/test/formats/test_yaml.rb
  nii-core/test/formats/yaml/en/i18n.yml
Labels: nii-core

core: swith default parameter for Context#locale to true
  nii-core/lib/nii/context.rb
Labels: nii-core

core: tests and fix for Nii::Middleware
  nii-core/lib/nii/config.rb
  nii-core/lib/nii/middleware.rb
  nii-core/test/test_middleware.rb
Labels: nii-core

core: tests and fix for nested setups
  nii-core/lib/nii/setup/dsl.rb
  nii-core/test/test_setup.rb
Labels: nii-core

core: start working on lookup setup
  README.md
  nii-core/lib/nii/locale_preference.rb
  nii-core/lib/nii/lookup.rb
  nii-core/lib/nii/lookup/cascade.rb
  nii-core/lib/nii/lookup/common.rb
  nii-core/lib/nii/lookup/file_system.rb
  nii-core/lib/nii/lookup/memory.rb
  nii-core/lib/nii/setup.rb
  nii-core/lib/nii/setup/dsl.rb
  nii-core/lib/nii/setup/lookup.rb
  nii-core/lib/nii/setup/lookup/cascade.rb
  nii-core/lib/nii/setup/lookup/common.rb
  nii-core/lib/nii/setup/lookup/file_system.rb
  nii-core/lib/nii/setup/lookup/memory.rb
  nii-core/lib/nii/setup/vanilla.rb
Labels: nii-core

core: add language and territory helper methods
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/helpers.rb
  nii-core/lib/nii/helpers/languages.rb
  nii-core/lib/nii/helpers/territories.rb
  nii-core/lib/nii/locale.rb
Labels: nii-core

core: start working on currency formatting
  Gemfile
  Gemfile.lock
  nii-core/lib/nii/core.rb
  nii-core/lib/nii/currency.rb
  nii-core/lib/nii/formatters/numeric.rb
  nii-core/lib/nii/territory.rb
  nii-core/lib/nii/timezone.rb
  nii-core/test/formatters/test_money_formatter.rb
  nii-core/test/formatters/test_numeric_formatter.rb
Labels: nii-core

vscode: don't show files generated by yard
  .vscode/settings.json
Labels: none

remove extra line
  benchmark/runners/i18n.rb
Labels: none

core: add readme
  nii-core/README.md
Labels: nii-core

core: freeze config hash
  nii-core/lib/nii/config.rb
Labels: nii-core

core: better pattern matching support and cleanup
  nii-core/lib/nii/calendar/generic.rb
  nii-core/lib/nii/info/measurement_system.rb
  nii-core/lib/nii/info/text.rb
  nii-core/lib/nii/load_path.rb
  nii-core/lib/nii/locale.rb
  nii-core/lib/nii/locale_preference.rb
  nii-core/lib/nii/lookup/cascade.rb
  nii-core/lib/nii/lookup/common.rb
  nii-core/lib/nii/lookup/file_system.rb
  nii-core/lib/nii/lookup/memory.rb
  nii-core/lib/nii/numbering_system/generic.rb
  nii-core/lib/nii/parser/fluent/generic.rb
  nii-core/lib/nii/template/attribute_reference.rb
  nii-core/lib/nii/template/concat.rb
  nii-core/lib/nii/template/element.rb
  nii-core/lib/nii/template/function_call.rb
  nii-core/lib/nii/template/message_reference.rb
  nii-core/lib/nii/template/variable.rb
  nii-core/lib/nii/template/variant.rb
  nii-core/lib/nii/territory.rb
  nii-core/test/formats/gettext/en/example.po
  nii-core/test/formats/test_gettext.rb
  nii-units/lib/nii/units/generic_unit.rb
Labels: nii-core, nii-units

core: start work on currency formatting
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/core.rb
  nii-core/lib/nii/currency.rb
  nii-core/lib/nii/formatters/money.rb
  nii-core/lib/nii/formatters/numeric.rb
  nii-core/lib/nii/info/numbers.rb
  nii-core/lib/nii/parser/number.rb
  nii-core/lib/nii/parser/unicode_set.rb
  nii-core/lib/nii/utils.rb
  nii-rbnf/lib/nii/decimal_format.rb
  nii-rbnf/test/test_decimal_format.rb
Labels: nii-core, nii-rbnf

core: small improvement for multiple_languages? check
  nii-core/lib/nii/helpers/languages.rb
Labels: nii-core

add CLI
  Gemfile
  Gemfile.lock
  README.md
  bin/nii
  nii-cli/.yardopts
  nii-cli/bin/nii
  nii-cli/lib/nii-cli.rb
  nii-cli/lib/nii/cli.rb
  nii-cli/lib/nii/cli/command.rb
  nii-cli/lib/nii/cli/convert.rb
  nii-cli/lib/nii/cli/import.rb
  nii-cli/locales/en/_shared.ftl
  nii-cli/locales/en/convert.ftl
  nii-cli/locales/en/import.ftl
  nii-cli/nii-cli.gemspec
  nii-core/lib/nii/bundle.rb
  nii-core/lib/nii/compiler/fluent.rb
  nii-core/lib/nii/compiler/i18n.rb
  nii-core/lib/nii/compiler/variables.rb
  nii-core/lib/nii/data.rb
  nii-core/lib/nii/date.rb
  nii-core/lib/nii/errors.rb
  nii-core/lib/nii/formats.rb
  nii-core/lib/nii/formats/json.rb
  nii-core/lib/nii/formats/messages/ruby.rb
  nii-core/lib/nii/formats/po.rb
  nii-core/lib/nii/formats/ruby.rb
  nii-core/lib/nii/formats/structure/i18n.rb
  nii-core/lib/nii/formats/toml.rb
  nii-core/lib/nii/formats/yaml.rb
  nii-core/lib/nii/functions.rb
  nii-core/lib/nii/localized.rb
  nii-core/lib/nii/message.rb
  nii-core/lib/nii/parser.rb
  nii-core/lib/nii/plurals.rb
  nii-core/lib/nii/template/select.rb
  nii-core/lib/nii/timezone.rb
  nii-core/test/formats/fluent/en/example.ftl
Labels: nii-core

core: improve documentation
  nii-core/lib/nii/calendar/generic.rb
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/core.rb
  nii-core/lib/nii/data.rb
  nii-core/lib/nii/date.rb
  nii-core/lib/nii/formats.rb
  nii-core/lib/nii/formatters.rb
  nii-core/lib/nii/helpers.rb
  nii-core/lib/nii/locale.rb
  nii-core/lib/nii/locale_preference.rb
  nii-core/lib/nii/lookup/cascade.rb
  nii-core/lib/nii/lookup/common.rb
  nii-core/lib/nii/message.rb
Labels: nii-core

remove some whitespace
  nii-core/lib/nii/html_string.rb
Labels: nii-core

bundle update
  Gemfile.lock
  examples/rails/Gemfile.lock
Labels: none

core: fix backends alias
  nii-core/lib/nii/lookup/cascade.rb
Labels: nii-core

core: fix yard tags
  nii-core/lib/nii/date.rb
  nii-core/lib/nii/locale.rb
  nii-core/lib/nii/locale_preference.rb
  nii-core/lib/nii/message.rb
Labels: nii-core

core: add parens to avoid warning
  nii-core/lib/nii/compiler/fluent.rb
Labels: nii-core

core: Use custom Pathname subclass to keep track of base path
  nii-core/lib/nii/load_path.rb
Labels: nii-core

core: better money formatting and various small improvements
  nii-core/lib/nii/bundle.rb
  nii-core/lib/nii/compiler/i18n.rb
  nii-core/lib/nii/config.rb
  nii-core/lib/nii/context.rb
  nii-core/lib/nii/currency.rb
  nii-core/lib/nii/errors.rb
  nii-core/lib/nii/formatters/money.rb
  nii-core/lib/nii/formatters/numeric.rb
  nii-core/lib/nii/info.rb
  nii-core/lib/nii/locale.rb
  nii-core/lib/nii/lookup/common.rb
  nii-core/lib/nii/lookup/i18n.rb
  nii-core/lib/nii/parser/yaml/tagged.rb
  nii-core/lib/nii/territory.rb
  nii-core/lib/nii/timezone.rb
  nii-core/lib/nii/utils.rb
Labels: nii-core

.github/labeler.yml:

nii-calendars: nii-calendars/**/*
nii-core: nii-core/**/*
nii-extra-locales: nii-extra-locales/**/*
nii-global: nii-global/**/*
nii-historic: nii-historic/**/*
nii-i18n: nii-i18n/**/*
nii-rails: nii-rails/**/*
nii-rbnf: nii-rbnf/**/*
nii-sinatra: nii-sinatra/**/*
nii-units: nii-units/**/*
nii-xml: nii-xml/**/*
web: web/**/*
